* {
    font-family: 'Jost';
  }

:root {
    --c-medium-gray: #868686;
	--c-silver-gray: #b6b6b6;
	--c-silver-gray: #b6b6b6;
	--c-dark-gray: #666666;
	--c-moonstone-gray: #666666;
	--c-slate-gray: #969696;
    --c-blush-sand: 96.95% 0.01 41.88;
}

[data-theme=dark] {
    --c-medium-gray: text-inherit;
	--c-silver-gray: text-inherit;
	--c-dark-gray: text-inherit;	
    color-scheme: dark;
    --c-blush-sand: 37.25% 0.001 17.22
}

.bg-blush-sand {
	background-color: var(--fallback-b1,oklch(var(--c-blush-sand)/1));
}
.text-dark-gray {
	color: var(--c-dark-gray)
}
.text-silver-gray {
	color: var(--c-silver-gray)
}
.text-medium-gray {
	color: var(--c-medium-gray)
}
.text-slate-gray {
	color: var(--c-slate-gray)
}
.text-moonstone-gray {
	color: var(--c-moonstone-gray)
}
body {
	transition: margin-top .3s ease;

}
body.global-search-is-active {
	margin-top: 522px;
}

.smooth-aim {
	border: 1px solid #e5e7eb;
	transition: background-color, border;
	transition-duration: 300ms;
	transition-timing-function: ease;

}
.smooth-aim:hover {
	background-color: #f16e36;
	border-color: #f16e36;
	color: white;
}

.smooth-aim.active {
	color: white;
	background-color: #f16e36;
	border-color: #f16e36;
}

.bg-overlay {
	transition: all .3s ease;
	background-color: #000000a8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.general-transition {
	transition: all .3s ease;
}